<?xml version='1.0' encoding='utf-8'?>
<plugin id="plugin-linternaId" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>plugin-linterna</name>

	<js-module name="plugin-linterna" src="www/plugin-linterna.js">
		<clobbers target="cordova.plugins.plugin-linterna" />
	</js-module>

	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="plugin-linterna">
				<param name="android-package" value="nl.xservices.plugins.Toast" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">

		</config-file>
		<source-file src="src/android/plugin-linterna.java" target-dir="src/plugin-linternaId/plugin-linterna" />
	</platform>

</plugin>